<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Ứng dụng bài viết
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <nav>
        <a href="/">🏠</a>
        <a href="/employees">❓</a>
        <a href="/posts">📝</a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
